<button type="button" class="btn btn-danger" (click)="removeAcction($event)" ><i class="fa fa-trash"></i></button>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      {{title}}
                    </p>
					
                    <table id="datatable-componet" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                      
                    </table>
					
					
                  </div>
